<div>
  <h3 translate>Kursevi</h3>
</div>
<table class="table table-bordered">
  <tr>
    <th translate>Naziv</th>
    <th translate>Akcija</th>
  </tr>
  <tr ng-if="profesorK==null" ng-repeat="course in coursesPage| filter:pretraga| limitTo:5">
    <td>
      {{course.naziv}}
    </td>
    <td>
    	<a ng-href="#/courses/{{course.predmetID}}">
    		<button type="button" class="btn btn-default" aria-label="Izmena">
	        	<span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
	    	</button>
    	</a>

      <button type="button" class="btn btn-default" aria-label="Brisanje" ng-click="deleteCourse(course.predmetID)">
        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
      </button>
    </td>
  </tr>
  
  <tr ng-if="profesorK!=null" ng-repeat="c in profesorPredmeti">
    <td>
      {{c.predmet.naziv}}
    </td>
    <td>
      <a ng-href="#/courses/{{c.predmet.predmetID}}">
        <button type="button" class="btn btn-default" aria-label="Izmena">
	        <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
	    </button>
      </a>
  </tr>
</table>
<div class="right" ng-if="profesorK==null">
	<a ng-href="#/courses/new">
	  <button type="button" class="btn btn-default" aria-label="Dodavanje" >
	    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
	  </button>
  	</a>
</div>
<ul class="nav navbar-paging" ng-if="pages.length>1">
	<li ng-repeat="p in pages track by $index">
	 	<span ng-click="page(p)">{{p+1}}</span>
	</li>
</ul>