<div class="modal-header">
  <h3 class="modal-title" translate>Student </h3>
</div>
<div class="modal-body" ng-if="studentK.brojIndexa==student.brojIndexa||studentK==null">
  <form id="student-form">
    <fieldset class="form-group">
      <label for="brojIndexa" translate>Broj indeksa</label>
      <input type="text" class="form-control" id="brojIndexa" ng-model="student.brojIndexa">
    </fieldset>
    <fieldset class="form-group">
      <label for="ime" translate>Ime</label>
      <input type="text" class="form-control" id="ime" ng-model="student.korisnik.ime">
    </fieldset>
    <fieldset class="form-group">
      <label for="prezime" translate>Prezime</label>
      <input type="text" class="form-control" id="prezime" ng-model="student.korisnik.prezime">
    </fieldset>
    <fieldset class="form-group">
    	<label translate>JMBG</label>
    	<input type="text" class="form-control" id="jmbg" ng-model="student.korisnik.jmbg" >
    </fieldset>    
    <fieldset class="form-group">
    	<label translate>Korisnicko ime</label>
    	<input type="text" class="form-control" id="korisnickoIme" ng-model="student.korisnik.korisnickoIme" >
    </fieldset>
    <fieldset class="form-group">
    	<label translate>Lozinka</label>
    	<input type="text" class="form-control" id="lozinka" ng-model="student.korisnik.lozinka">
    </fieldset>
    
    <fieldset class="form-group">
    	<label translate>Br. telefona</label>
    	<input type="text" class="form-control" id="brojTelefona" ng-model="student.korisnik.brojTelefona" >
    </fieldset> 
    <fieldset class="form-group">
    	<label translate>E-mail</label>
    	<input type="text" class="form-control" id="email" ng-model="student.korisnik.email" >
    </fieldset> 
    <fieldset class="form-group">
    	<label translate>Ulica i broj</label>
    	<input type="text" class="form-control" id="ulicaIBroj" ng-model="student.korisnik.ulicaIBroj" >
    </fieldset> 
    <fieldset class="form-group">
    	<label translate>Postanski broj</label>
    	<input type="text" class="form-control" id="postanskiBroj" ng-model="student.korisnik.postanskiBroj" >
    </fieldset> 
    <fieldset class="form-group">
    	<label translate>Mesto</label>
    	<input type="text" class="form-control" id="mesto" ng-model="student.korisnik.mesto" >
    </fieldset>     
  </form>
  
    <!-- START predmeti -->
    <br>
    <label for="predmeti" translate>Predmeti</label>
    <table id="predmeti" class="table table-bordered">
      <tr ng-repeat="enrollment in enrollments">
        <td>
          {{enrollment.predmet.naziv}}
        </td>
        <td>
	      <button type="button" class="btn btn-default" aria-label="Izmena" ng-click="openModalP(enrollment.predmet)">
	        <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
	      </button>
	    </td>
      </tr>
    </table>
    <!-- END predmeti -->
    
    <button ng-click="openERacun(student.eRacun)" translate>E-racun</button>
    <button ng-click="openModalDokumenta(student)" translate>Dokumenta</button>
</div>
<div class="modal-footer">
  <a ng-href="#/students/">
    <button class="btn btn-default" type="button" ng-click="ok()" translate>U redu</button>
  </a>
  <a ng-href="#/students/">
  	<button class="btn btn-default" type="button" translate>Nazad</button>
  </a>
</div>
