<div class="modal-header">
  <h3 class="modal-title" translate>Dokument</h3>
</div>
<div class="modal-body">
  	<form>
  	  <fieldset class="form-group">
        <label>{{student.korisnik.ime}} {{student.korisnik.prezime}} {{student.brojIndexa}}</label>
      </fieldset>
      <br>
  	
  	  <fieldset class="form-group">
        <label for="naziv" translate>Naziv dokumenta</label>
        <input type="text" class="form-control" id="naziv" ng-model="document.naziv">
      </fieldset>
      <fieldset class="form-group">
        <label for="tip" translate>Tip dokumenta</label>
        <input type="text" class="form-control" id="tip" ng-model="document.file.type" disabled="disabled">
      </fieldset>
      <fieldset ng-if="document.putanjaDoDokumenta!=&quot&quot" class="form-group">
        <label for="putanja">URL</label>
        <a ng-href="{{protocol}}{{baseURLHref}}{{baseURLPort}}{{document.putanjaDoDokumenta}}">
          {{protocol}}{{baseURLHref}}{{baseURLPort}}{{document.putanjaDoDokumenta}}
        </a>
      </fieldset>
      
      <fieldset class="form-group">
    	<label for="inputFile" translate>Dodaj dokument</label>
    	<input type="file" id="inputFile" file-model="document.file">
  	  </fieldset>
  	  
  	</form>
  	
</div>
<div class="modal-footer">
  <button class="btn btn-default" type="button" ng-click="ok()" translate>U redu</button>
  <button class="btn btn-default" type="button" ng-click="cancel()" translate>Otkazi</button>
</div>
