<div class="modal-header">
  <h3 class="modal-title" translate>Student - pogled na kurs</h3>
</div>
<div class="modal-body-datepicker">
	<form>
      <fieldset class="form-group">
        <label for="name">{{student.korisnik.ime}} {{student.korisnik.prezime}} {{student.brojIndexa}}</label>
      </fieldset>
      <br>
      <fieldset class="form-group">
        <label for="name" translate>Naziv predmeta</label>
        <input type="text" class="form-control" id="name" ng-model="course.naziv">
      </fieldset>
      <fieldset class="form-group">
        <label for="name" translate>Opis predmeta</label>
        <input type="text" class="form-control" id="name" ng-model="course.opis">
      </fieldset>
  	</form>
    <br>
    <label translate>Profesori</label>
    <table class="table table-bordered">
      <tr ng-repeat="t in teachings">
        <td>
          {{t.profesor.korisnik.ime}} {{t.profesor.korisnik.prezime}} {{t.profesor.zvanje}}
        </td>     
      </tr>
    </table>
    
    <!-- START obaveze -->
    <br>
    <label translate>Tipovi obaveza</label>
    <table class="table table-bordered">
      <tr>
      	<th translate>Naziv</th>
      	<th translate>Opis</th>
      	<th translate>Datum</th>
      	<th translate>Akcija</th>
      </tr>
      <tr ng-repeat="task in tasks">
        <td>
          {{task.naziv}}   
        </td>
        <td>
          {{task.opis}}
        </td>
        <td>
          {{task.datum}}
        </td>
        <td>
	        <button type="button" class="btn btn-default" aria-label="Prikaz" ng-click="openModalO(task)">
	            <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
	        </button>
		</td>
      </tr>
    </table>
    <!-- END obaveze -->
</div>
<div class="modal-footer">
  <button class="btn btn-default" type="button" ng-click="cancel()" translate>Otkazi</button>
</div>
