<div class="modal-header">
  <h3 class="modal-title" translate>Dodavanje studenta na kurs</h3>
</div>
<div class="modal-body-datepicker">
  <label for="students" translate>Student</label>
  <select id="students" class="form-control" ng-model="student" ng-options=" s.brojIndexa +' '+ s.korisnik.ime + ' ' + s.korisnik.prezime for s in students"></select>
</div>
<div class="modal-footer">
  <button class="btn btn-default" type="button" ng-click="ok()" translate>U redu</button>
  <button class="btn btn-default" type="button" ng-click="cancel()" translate>Otkazi</button>
</div>
