<div class="modal-header">
  <h3 class="modal-title" translate>Dodavanje Obaveze(tip obaveze) na Kurs</h3>
</div>
<div class="modal-body-datepicker">

	<fieldset class="form-group">
		<label for="date" translate>Datum</label>
		<p class="input-group">
		    <input id="date" type="text" class="form-control" uib-datepicker-popup="dd.MM.yyyy"
		      ng-model="task.datum" close-text="Close" is-open="date.opened" ng-required="true" />
		    <span class="input-group-btn">
		      <button type="button" class="btn btn-default" ng-click="openDate()">
		        <i class="glyphicon glyphicon-calendar"></i>
		      </button>
		    </span>
		</p>
	</fieldset>
	
	<fieldset class="form-group">
      <label for="name" translate>Naziv</label>
      <input type="text" class="form-control" id="name" ng-model="task.naziv">
    </fieldset>
    
    <fieldset class="form-group">
      <label for="description" translate>Opis</label>
      <input type="text" class="form-control" id="description" ng-model="task.opis">
    </fieldset>
    
    <label translate>Studenti</label>
    <table class="table table-bordered">
      <tr ng-repeat="enrollment in enrollments">
        <td>
          {{enrollment.student.korisnik.ime}} {{enrollment.student.korisnik.prezime}} {{enrollment.student.brojIndexa}}
          <button type="button" class="btn btn-default right" aria-label="Brisanje" ng-click="editObaveza(enrollment.student,task)">
            <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
          </button>
        </td>
      </tr>
    </table>

</div>
<div class="modal-footer">
  <button class="btn btn-default" type="button" ng-click="ok()" translate>U redu</button>
  <button class="btn btn-default" type="button" ng-click="cancel()" translate>Otkazi</button>
</div>
