<div class="modal-header">
  <h3 class="modal-title" translate>Uplata</h3>
</div>
<div class="modal-body">
  <form>
  
  	<fieldset class="form-group">
      <label translate>Svrha uplate</label>
      <input type="text" class="form-control" id="svrha" ng-model="uplata.svrha">
    </fieldset>
    
    <fieldset class="form-group">
	    <label translate>Datum uplate</label>
	    <p class="input-group">
		    <input id="datum" type="text" ng-model="uplata.datum" is-open="datum.opened"
		     class="form-control" uib-datepicker-popup="dd.MM.yyyy"/>
		    <span class="input-group-btn">
		      <button type="button" class="btn btn-default" ng-click="openDate()">
		        <i class="glyphicon glyphicon-calendar"></i>
		      </button>
		    </span>
		</p>
    </fieldset>
    
  	<fieldset class="form-group">
      <label translate>Iznos uplate</label>
      <input type="text" class="form-control" id="iznos" ng-model="uplata.iznos">
    </fieldset>
    
  </form>
</div>
<div class="modal-footer">
  <button class="btn btn-default" type="button" ng-click="ok()" translate>U redu</button>
  <button class="btn btn-default" type="button" ng-click="cancel()" translate>Otkazi</button>
</div>