/* Coolors Exported Palette - coolors.co/d1c6c6-bab0b0-3f3a3a-4d535b-267e93 */

$color1: #d1c6c6; //rgba(209, 198, 198, 100)
$color2: #bab0b0; //rgba(186, 176, 176, 100)
$color3: #3f3a3a; //rgba(63, 58, 58, 100)
$color4: #4d535b; //rgba(77, 83, 91, 100)
$color5: #267e93; //rgba(38, 126, 147, 100)